.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 98px 0 70px 0;
}

.footer div {
    flex: 33%;
}



.footer-logo__img {
    width: 140px;
}

.footer-list {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.footer-list div.footer-list__element:nth-child(2) {
    margin-left: 30px;
}

.footer-list__element {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF
}

.footer-list__element-row {
    margin: 0;
}

.footer-list__element-row dt {
    margin-bottom: 18px;
}

.footer-contacts {
    display: flex;
    justify-content: end;
}

.footer-contacts dl {
    margin: 0;
    max-width: 170px;
    font-size: 15px;
    color: #A9C5E0;
}

.footer-contacts dl dt {
    margin-bottom: 19px;
}

.footer-contacts dl dt:last-child {
    margin-bottom: 0;
}

@media (max-width: 1000px) {
    .footer div {
        flex: 40%;
    }

    .footer-logo {
        width: 150px;
        margin-bottom: 50px;
    }
    .footer-list {
        flex: auto;
    }

    .footer-contacts {
        margin-top: 70px;
        flex: 100%;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .footer {
        padding: 98px 0 96px 0;
    }

    .footer.footer-logo {
        width: 33%;
    }

    .footer-list {
        width: 100%;
    }
}

@media (max-width: 600px) {

    .footer {
        flex-direction: column;
    }

    .footer-list__element-row {
        width: 100px;
    }

    .footer-contacts {
        flex: 100%;
        justify-content: start;
    }
}