.header-menu{
    margin-bottom: 183px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 27px;
}

.header-menu--column{
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;
    align-items: center;
}

.header-menu:nth-child(2){
    justify-content: flex-end
}

.menu-logo{
    width: 120px;
    margin-right: 50px;
}

.menu-separator{
    background-color: #A9C5E0;
    height: 16px;
    width: 2px;
}

.menu-name{
    font-size: 13px;
    color: #A9C5E0;
    margin-left: 30px;
}

.header-menu--number{
    display: flex;
    flex-direction: row;
    margin-right: 70px;
}

.number-icon{
    height: 14px;
    margin-right: 12px;
}

.number-value{
    font-size: 13px;
    color: #A9C5E0;
}

@media (max-width: 900px){
    .header-menu--column{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .header-menu--number{
        margin-right: 0;
        margin-top: 30px;
    }
}