.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    animation-name: appear;
    animation-duration: 300ms;
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-dialog {
    width: 460px;
    height: auto;
    padding: 60px 60px;
    background: white;
    border-radius: 6px;
    position: relative;
    margin: 0 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
}
@keyframes slide-in {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
    }
}

.modal-close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding: 10px;
}

.title-auth {
    font-size: 38px;
    font-weight: 800;
}

.title-description {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
}

.input-container {
    width: 100%;
    margin-top: 25px;
}

.input-container input {
    width: calc(100% - 42px);
    padding: 2px 20px;
    border: solid #23415E 1px;
    border-radius: 6px;
    height: 48px;
}

.input-container input:not(:valid):not(:placeholder-shown) {
    border-color: #d52937;
}

.input-container input::placeholder {
    color: #D0C9D6;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding-left: 3px;
}

.input-login:focus, .input-password:focus {
    outline: none;
}

.input-login {

}

.input-password {
    margin-top: 8px;
}

.button-auth {
    margin-top: 40px;
    width: 100%;
}

@media (max-width: 600px) {
    .modal {
        background-color: white;
    }
    .modal-dialog {
        box-shadow: none;
        background-color: transparent;
        padding-top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .modal-close {
        top: 60px;
        right: 25px;
    }

}






